//dynamic index page

extends ../public/templates/base.jade

block title
  title Home
  
block content
  div.row
    div.col-md-12.text-center
      h1 Trump Tracker 1.0
  div.row
    div.col-md-12.text-center
      h3 Tracking Trump Rally Protests and Incidents of Violence.
