//dynamic index page

extends ../public/templates/base.jade

block title
  title Home
  
block content
  div.row
    div.col-md-12.text-center
      h1 This is the Homepage
  div.row
    div.col-md-12.text-center
      h3 Lorem Ipsum...
