//base template: includes css, js, menu, footer
doctype html
html
  head
    block title
      title Trump Tracker
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/leaflet.css")
    link(rel="stylesheet" href="/css/styles.css")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower_components/AngularJS/src/Angular.js")
  body
    //Here's our navigation
    nav.navbar.navbar-default
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="./") Trump Tracker 2016
        div.navbar-collapse.collapse
          ul.nav.navbar-nav
            //- li
            //-   a(href="/incidents") Incident Reports
    div.container
      block content
    div.footer
      p Powered by Mongo and Node
      
